@CHARSET "UTF-8";
h3.forh3{
	font-size:16px;
	font-weight:100;
	padding:10px 0 10px 20px;
}
input.nextBtn {
	box-shadow: 0 0 2px #fff int;
	border-radius: 3px;
	font-weight: 400;
	background: #febf4d;
	background: linear-gradient(#ffd974, #febf4d);
	color: #614323;
	border: 1px solid #e6b650;
	box-shadow: 0 0 2px #fff int;
	font-size: 20px;
	font-weight: 400;
	padding: 3px 10px;
	margin: 60px 0 0 520px;
	height: 33px;
	width: 88px;
	_border: none;
	_padding: 0;
	display: block;
	cursor:pointer;
}

input.nextBtn:hover, input.nextBtn:focus {
	background-color: #ffd974;
	background-image: linear-gradient(#febf4d, #ffd974);
	border: 1px solid #c1913d;
}
