@CHARSET "UTF-8";

div#main form ul {
	width: 400px;
	margin: 0px auto;
}

div#main form {
	position: relative;
	width: 655px;
	margin: 0px auto;
}

div#main form ul li {
	position: relative;
	height: 50px;
}

div#main form ul li div {
	position: absolute;
	top: 14px;
	right: 0px;
	z-index: 99;
}

div#main form ul li div label {
	margin-left: 40px;
}

div#main h2 {
	width: 160px;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
	margin: 15px auto;
	padding-left: 30px;
	background: url(../Image/set.png) no-repeat 0px 4px;
}

input.textfield {
	border: 1px solid #cccccc;
	font-size: 16px;
	margin: 10px 0;
	padding: 5px 15px;
	width: 100px;
}

div form input#sureBtn {
	border: 1px solid #e6b650;
	font-size: 20px;
	padding: 5px 10px;
	width: 66px;
	margin: 40px 0px 0px 465px;
	_border: none;
	_background: #FEC556;
	cursor:pointer;
}

input.surebtn {
	background: linear-gradient(#ffd974, #febf4d) repeat scroll 0 0
		rgba(0, 0, 0, 0);
	border-radius: 3px;
	box-shadow: 0 0 2px #fff inset;
	color: #614323;
	font-weight: 400;
	text-shadow: 1px 1px 1px #fbe5ac;
}

.surebtn:hover, .surebtn:focus {
	background-color: #ffd974;
	background-image: linear-gradient(#febf4d, #ffd974);
	border: 1px solid #c1913d;
}

p#errorInfo {
	color: #eb4f38;
	padding-left: 25px;
	background: url("../Image/adminIconList.png") no-repeat 0 -374px;
	position: absolute;
	top: 348px;
	left: 150px;
}