@CHARSET "UTF-8";

body {
	color: #3b3b3b;
}

div#content {
	overflow: hidden;
}
/*当前位置部分begin*/
div.nowTips {
	padding-bottom: 20px;
}

div.nowTips span {
	display: block;
	padding-left: 28px;
	background: url(../Image/userIconlist.png) no-repeat -7px -1px;
	margin-left: 35px;
}

div.nowTips a {
	color: #1169BF;
}

div.nowTips a:hover, div.nowTips a:focus {
	text-decoration: underline;
}
/*当前位置部分end*/
div#proNav {
	width: 219px;
	float: left;
	display: inline;
	margin-left: 30px;
}

div#productList {
	width: 736px;
	float: right;
	display: inline;
	margin-right: 30px;
}
/*左边导航部分begin*/
h2 {
	height: 42px;
	padding-bottom: 3px;
	line-height: 42px;
	font-size: 21px;
	font-weight: 100;
	background: url(../Image/bg_product.png) repeat-x;
	color: #fff;
}
span.je{
	color:#ff6500;
	font-size:16px;
	font-weight:100;
}
div#proNav h2 {
	padding-left: 20px;
}
/* div#proNav ul{
	background:#eee;
} */
div#proNav li {
	border-right: 1px solid #EBECEE;
	border-left: 1px solid #EBECEE;
	border-bottom: 1px solid #EBECEE;
	padding-left: 40px;
}

div#proNav li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color: #3b3b3b;
	display: block;
	line-height: 40px;
	height: 40px;
	/* margin-left: 40px; */
	background: url(../Image/userIconlist.png) no-repeat 140px -120px;
}
/*左边导航部分end*/
span.allPro {
	background: url(../Image/userIconlist.png) no-repeat 0px -73px;
	padding-left: 35px;
}

div#productList h2 {
	padding-left: 50px;
}

span.proDisplay {
	background: url(../Image/userIconlist.png) no-repeat 0px -31px;
	padding-left: 35px;
}

span.en {
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: 2px;
}

div.productPicList {
	overflow: hidden;
	border: 1px solid #EBECEE;
	border-top: none 0px;
	padding-bottom: 40px;
	width: 734px;
}

div.productDiv {
	width: 287px;
	float: left;
	display: inline;
	height: 282px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 54px;
}

div.productDiv img {
	border: 1px solid #EBECEE;
}

div.productDiv a {
	display: block;
	height: 282px;
	width: 287px;
	animation-duration: 0.3s;
    animation-name: scale;
    transform: scale(1);
	
}

div.productDiv span {
	overflow:hidden;
	text-overflow:ellipsis;
	color: #3b3b3b;
	display: block;
	padding: 20px 27px;
	text-align: center;
	width: 233px;
}

div.productDiv a:hover, div.productDiv a:focus {
	background: #EBECEE;
	animation-duration: 0.3s;
    animation-name: scaleover;
    transform: scale(1.1);
}

div.productPicList div#pageNum {
	clear: both;
	height: 100%;
	padding-top: 40px;
	overflow: hidden;
	padding-left: 49px;
}

div.productPicList div#pageNum a {
	margin: 0px 5px;
	border: 1px solid #e1e2e3;
	cursor: pointer;
	float: left;
	display: inline;
	height: 34px;
	width: 34px;
	line-height: 34px;
	text-align: center;
	color: #1169BF;
	border: 1px solid #e1e2e3;
}

div.productPicList div#pageNum a.upPage {
	width: 100px;
	background: url(../Image/iconfont-xiayi.png) no-repeat 15px 9px;
	padding-left: 8px;
	_background: none;
	_padding-left: 0px;
}

div.productPicList div#pageNum a.upPage:hover {
	background: url(../Image/iconfont-xiayi.png) no-repeat 15px 9px #f2f8ff;
	_background: #f2f8ff;
	border: 1px solid #38f;
}

div.productPicList div#pageNum a.downPage {
	width: 100px;
	padding-right: 8px;
	background: url(../Image/iconfont-xiayi.png) no-repeat 80px -41px;
	_background: none;
	_padding-right: 0px;
}

div.productPicList div#pageNum a.downPage:hover {
	background: url(../Image/iconfont-xiayi.png) no-repeat 80px -41px
		#f2f8ff;
	_background: #f2f8ff;
	border: 1px solid #38f;
}

div.productPicList div#pageNum a:hover {
	background: #f2f8ff;
	border: 1px solid #38f;
}

form.productForm {
	height: 25px;
	line-height: 25px;
	text-align: right;
	float: left;
	display: inline;
	padding-left: 5px;
	width: 147px;
}

form.productForm select {
	border: 1px solid #e1e2e3;
	font-size: 16px;
	width: 45px;
}

form.productForm input {
	background: none repeat scroll 0 0 #ffdf75;
	height: 24px;
	line-height: 24px;
	margin: 10px 0 0 10px;
	padding: 0px 4px;
	cursor:pointer;
}
/*Product/ProductPage.jsp产品详细信息页面*/
div.productPicList h3, div.productPicList h4 {
	font-weight: 100;
	color: #3b3b3b;
	padding-left: 20px;
	font-size: 16px;
	width: 694px;
}

span.productTi {
	font-weight: 600;
	padding-left:10px;
}
span.eng{
	padding-left:10px;
	font-size:12px;
	color:#919191;
}
div.productPicList li {
	font-size: 14px;
	width: 200px;
	float: left;
	display: inline;
	height: 18px;
	line-height: 18px;
	margin: 10px 15px 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
}

div.pad {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.productParam, div.productPic, div.productIntroduce {
	margin-top: 20px;
}

div.productParam ul {
	padding-left: 80px;
	overflow: hidden;
}

div.productPic img {
	border: 1px solid #ccc;
}
div.productPic img:hover{
	border: 1px solid #ff6500;
}
div.bigPic {
	margin: 20px 0 0 156px;
}

div.smartPic {
	overflow: hidden;
	margin: 10px 0px 0px 133px;
}

div.smartPic a {
	width: 85px;
	height: 56px;
	display: inline;
	float: left;
	margin-right: 10px;
}

div.IntroducePicList {
	margin-left: 42px;
	margin-top: 20px;
}
/*搜索框*/
#textbox2 {
	/*搜索文本框*/
	height: 20px;
	width: 200px;
	line-height: 20px;
	padding: 2px 4px;
	font-size: 14px;
	color: #3B3B3B;
	margin-top: 7px;
	margin-left: 3px;
	border: 1px solid #ccc;
}

#textbox2:hover, #textbox2:focus {
	border: 1px solid #3385FF;
}

div.checkdiv2 {
	position: relative;
}

div.checkdiv2 form div {
	padding: 20px;
	height: 40px;
	cursor:pointer;
}

div.checkdiv2 form div span {
	float: left;
	width: 115px;
	height: 40px;
	line-height: 40px;
	text-align: right;
}

input#check2 {
	background: none repeat scroll 0 0 #ffdf75;
	height: 24px;
	line-height: 24px;
	margin: 0 0 0 10px;
	width: 38px;
	cursor:pointer;
}

div.downAndUp {
	position: absolute;
	right: 60px;
	top: 30px;
	overflow: hidden;
}

div.downAndUp * {
	float: left;
}

a.uppage {
	color: #1169bf;
	font-size: 14px;
	line-height: 24px;
	height: 24px;
	margin-left: 10px;
	border: 1px solid #EBECEE;
	padding: 0px 4px 0px 15px;
	background: url("../Image/userIconlist.png") no-repeat 3px -216px;
}

a.uppage:hover {
	border: 1px solid #38f;
}

a.downpage {
	height: 24px;
	line-height: 24px;
	margin-left: 10px;
	font-size: 14px;
	color: #1169bf;
	border: 1px solid #EBECEE;
	padding: 0px 15px 0px 4px;
	background: url("../Image/userIconlist.png") no-repeat 27px -240px;
}

a.downpage:hover {
	border: 1px solid #38f;
}
div#proNav li#curType{
	background:url(../Image/bg_product.png) no-repeat;
	padding-left:40px;
	border-left:none 0px;
}