@CHARSET "UTF-8";

body {
	color: #3b3b3b;
}

div#content {
	overflow: hidden;
}

div.nowTips {
	padding-bottom: 20px;
}

div.nowTips span {
	display: block;
	padding-left: 28px;
	background: url(../Image/userIconlist.png) no-repeat -7px -1px;
	margin-left: 35px;
}

div.nowTips a {
	color: #1169BF;
}

div.nowTips a:hover, div.nowTips a:focus {
	text-decoration: underline;
}

form#searchBox span {
	float: left;
	width: 115px;
	height: 40px;
	line-height: 40px;
	text-align: right;
}

form#searchBox input.textBox {
	height: 20px;
	width: 200px;
	line-height: 20px;
	padding: 2px 4px;
	font-size: 14px;
	color: #3B3B3B;
	margin-top: 7px;
	margin-left: 3px;
	border: 1px solid #ccc;
}

form#searchBox input.button {
	background: #ffdf75;
	height: 24px;
	line-height: 24px;
	margin: 0 0 0 10px;
	width: 38px;
}

form#searchBox {
	padding: 10px 0 30px 100px;
	border-bottom: 1px solid #ebecee;
	margin-bottom: 20px;
}

div#content {
	background: url(../Image/pngBgList.png) no-repeat 700px -480px #fff;
}

div.productDiv {
	width: 287px;
	float: left;
	display: inline;
	height: 282px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 44px;
}

div.productDiv img {
	border: 1px solid #EBECEE;
}

div.productDiv a {
	display: block;
	height: 282px;
	width: 287px;
}

div.productDiv span {
	color: #3b3b3b;
	display: block;
	padding: 20px 27px;
	text-align: center;
	width: 233px;
}

div.productDiv a:hover, div.productDiv a:focus {
	background: #EBECEE;
}

div#pageNum {
	clear: both;
	height: 100%;
	padding-top: 40px;
	overflow: hidden;
	padding-left: 49px;
}

div#pageNum a {
	margin: 0px 5px;
	border: 1px solid #e1e2e3;
	cursor: pointer;
	float: left;
	display: inline;
	height: 34px;
	width: 34px;
	line-height: 34px;
	text-align: center;
	color: #1169BF;
	border: 1px solid #e1e2e3;
}

div#pageNum a.upPage {
	width: 100px;
	background: url(../Image/iconfont-xiayi.png) no-repeat 15px 9px;
	padding-left: 8px;
	_background: none;
	_padding-left: 0px;
}

div#pageNum a.upPage:hover {
	background: url(../Image/iconfont-xiayi.png) no-repeat 15px 9px #f2f8ff;
	_background: #f2f8ff;
	border: 1px solid #38f;
}

div#pageNum a.downPage {
	width: 100px;
	padding-right: 8px;
	background: url(../Image/iconfont-xiayi.png) no-repeat 80px -41px;
	_background: none;
	_padding-right: 0px;
}

div#pageNum a.downPage:hover {
	background: url(../Image/iconfont-xiayi.png) no-repeat 80px -41px
		#f2f8ff;
	_background: #f2f8ff;
	border: 1px solid #38f;
}

div#pageNum a:hover {
	background: #f2f8ff;
	border: 1px solid #38f;
}
p.noProduct{
	margin-left:400px;
	padding-left:25px;
	background: url(../Image/cha.gif) no-repeat -3px -3px;
}