<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YJGS</display-name>
  <welcome-file-list>
    <welcome-file>ManagerLogin/ManagerLogin.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>
    <session-timeout>28</session-timeout>
  </session-config>
  
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/errorPage.jsp</location>
  </error-page>
  
  <filter>
    <display-name>LoginCheck</display-name>
    <filter-name>LoginCheck</filter-name>
    <filter-class>com.yjgs.fittler.LoginCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheck</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>DefaultPageRedirct</display-name>
    <filter-name>DefaultPageRedirct</filter-name>
    <filter-class>com.yjgs.fittler.DefaultPageRedirct</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DefaultPageRedirct</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PermissionCheck</display-name>
    <filter-name>PermissionCheck</filter-name>
    <filter-class>com.yjgs.fittler.PermissionCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionCheck</filter-name>
    <url-pattern>/PermissionManage/*</url-pattern>
    <url-pattern>/ProductManage/*</url-pattern>
    <url-pattern>/NewsManage/*</url-pattern>
    <url-pattern>/FirstPageManage/*</url-pattern>
    <url-pattern>/AdviceManage/*</url-pattern>
    <url-pattern>/InfoManage/*</url-pattern>
    <url-pattern>/FunctionManage/*</url-pattern>
    <url-pattern>/Message/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CacheClear</display-name>
    <filter-name>CacheClear</filter-name>
    <filter-class>com.yjgs.fittler.CacheClear</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheClear</filter-name>
    <url-pattern>/ManagerLogin/ManagerLoginSel</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>ManagerLoginSel</display-name>
    <servlet-name>ManagerLoginSel</servlet-name>
    <servlet-class>com.yjgs.controller.managerLogin.ManagerLoginSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginSel</servlet-name>
    <url-pattern>/ManagerLogin/ManagerLoginSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FunctionManageSel</display-name>
    <servlet-name>FunctionManageSel</servlet-name>
    <servlet-class>com.yjgs.controller.functionManage.FunctionManageSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FunctionManageSel</servlet-name>
    <url-pattern>/FunctionManage/FunctionManageSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yanzhengma</display-name>
    <servlet-name>yanzhengma</servlet-name>
    <servlet-class>com.yjgs.controller.managerLogin.YanzhengmaSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yanzhengma</servlet-name>
    <url-pattern>/ManagerLogin/yanzhengma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goBack</display-name>
    <servlet-name>goBack</servlet-name>
    <servlet-class>com.yjgs.controller.managerLogin.goBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goBack</servlet-name>
    <url-pattern>/ManagerLogin/goBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewManager</display-name>
    <servlet-name>AddNewManager</servlet-name>
    <servlet-class>com.yjgs.controller.permanage.AddNewManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewManager</servlet-name>
    <url-pattern>/PermissionManage/AddNewManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountValidate</display-name>
    <servlet-name>AccountValidate</servlet-name>
    <servlet-class>com.yjgs.controller.permanage.AccountValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountValidate</servlet-name>
    <url-pattern>/PermissionManage/AccountValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPwd1Sel</display-name>
    <servlet-name>FindPwd1Sel</servlet-name>
    <servlet-class>com.yjgs.controller.findPwd_complaint.FindPwd1Sel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPwd1Sel</servlet-name>
    <url-pattern>/FindPwdComplaint/FindPwd1Sel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPwd2Sel</display-name>
    <servlet-name>FindPwd2Sel</servlet-name>
    <servlet-class>com.yjgs.controller.findPwd_complaint.FindPwd2Sel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPwd2Sel</servlet-name>
    <url-pattern>/FindPwdComplaint/FindPwd2Sel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPwd3Sel</display-name>
    <servlet-name>FindPwd3Sel</servlet-name>
    <servlet-class>com.yjgs.controller.findPwd_complaint.FindPwd3Sel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPwd3Sel</servlet-name>
    <url-pattern>/FindPwdComplaint/FindPwd3Sel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplaintSel</display-name>
    <servlet-name>ComplaintSel</servlet-name>
    <servlet-class>com.yjgs.controller.findPwd_complaint.ComplaintSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintSel</servlet-name>
    <url-pattern>/FindPwdComplaint/ComplaintSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePPPAnswerSel</display-name>
    <servlet-name>UpdatePPPAnswerSel</servlet-name>
    <servlet-class>com.yjgs.controller.accoutmana.UpdatePPPAnswerSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePPPAnswerSel</servlet-name>
    <url-pattern>/AccountManage/UpdatePPPAnswerSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WritePPProblemSel</display-name>
    <servlet-name>WritePPProblemSel</servlet-name>
    <servlet-class>com.yjgs.controller.accoutmana.WritePPProblemSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WritePPProblemSel</servlet-name>
    <url-pattern>/AccountManage/WritePPProblemSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateManInfoSel</display-name>
    <servlet-name>UpdateManInfoSel</servlet-name>
    <servlet-class>com.yjgs.controller.accoutmana.UpdateManInfoSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateManInfoSel</servlet-name>
    <url-pattern>/AccountManage/UpdateManInfoSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePwdSel</display-name>
    <servlet-name>UpdatePwdSel</servlet-name>
    <servlet-class>com.yjgs.controller.accoutmana.UpdatePwdSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePwdSel</servlet-name>
    <url-pattern>/AccountManage/UpdatePwdSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteManager</display-name>
    <servlet-name>DeleteManager</servlet-name>
    <servlet-class>com.yjgs.controller.permanage.DeleteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteManager</servlet-name>
    <url-pattern>/PermissionManage/DeleteManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyPermission</display-name>
    <servlet-name>ModifyPermission</servlet-name>
    <servlet-class>com.yjgs.controller.permanage.ModifyPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPermission</servlet-name>
    <url-pattern>/PermissionManage/ModifyPermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitApply</display-name>
    <servlet-name>SubmitApply</servlet-name>
    <servlet-class>com.yjgs.controller.perview.SubmitApply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitApply</servlet-name>
    <url-pattern>/PermissionViewAndApply/SubmitApply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyDeal</display-name>
    <servlet-name>ApplyDeal</servlet-name>
    <servlet-class>com.yjgs.controller.permanage.ApplyDeal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyDeal</servlet-name>
    <url-pattern>/PermissionManage/ApplyDeal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteApply</display-name>
    <servlet-name>DeleteApply</servlet-name>
    <servlet-class>com.yjgs.controller.permanage.DeleteApply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteApply</servlet-name>
    <url-pattern>/PermissionManage/DeleteApply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadProductSel</display-name>
    <servlet-name>UploadProductSel</servlet-name>
    <servlet-class>com.yjgs.controller.product.UploadProductSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadProductSel</servlet-name>
    <url-pattern>/Product/UploadProductSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test2</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>com.yjgs.controller.product.Test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/ProductManage/Test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAvator</display-name>
    <servlet-name>UploadAvator</servlet-name>
    <servlet-class>com.yjgs.controller.product.UploadAvator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAvator</servlet-name>
    <url-pattern>/JcropTest/UploadAvator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CropAvator</display-name>
    <servlet-name>CropAvator</servlet-name>
    <servlet-class>com.yjgs.controller.product.CropAvator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CropAvator</servlet-name>
    <url-pattern>/JcropTest/CropAvator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadTest</display-name>
    <servlet-name>UploadTest</servlet-name>
    <servlet-class>com.yjgs.controller.product.UploadTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadTest</servlet-name>
    <url-pattern>/test/UploadTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CropTest</display-name>
    <servlet-name>CropTest</servlet-name>
    <servlet-class>com.yjgs.controller.product.CropTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CropTest</servlet-name>
    <url-pattern>/test/CropTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishProductSel</display-name>
    <servlet-name>PublishProductSel</servlet-name>
    <servlet-class>com.yjgs.controller.product.PublishProductSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishProductSel</servlet-name>
    <url-pattern>/Product/PublishProductSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCK</display-name>
    <servlet-name>TestCK</servlet-name>
    <servlet-class>com.yjgs.controller.product.TestCK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCK</servlet-name>
    <url-pattern>/Product/TestCK</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewsTypeSel</display-name>
    <servlet-name>AddNewsTypeSel</servlet-name>
    <servlet-class>com.yjgs.controller.news.AddNewsTypeSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsTypeSel</servlet-name>
    <url-pattern>/NewsManage/AddNewsTypeSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNewsTypeSel</display-name>
    <servlet-name>UpdateNewsTypeSel</servlet-name>
    <servlet-class>com.yjgs.controller.news.UpdateNewsTypeSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNewsTypeSel</servlet-name>
    <url-pattern>/NewsManage/UpdateNewsTypeSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNewsTypeSel</display-name>
    <servlet-name>DeleteNewsTypeSel</servlet-name>
    <servlet-class>com.yjgs.controller.news.DeleteNewsTypeSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsTypeSel</servlet-name>
    <url-pattern>/NewsManage/DeleteNewsTypeSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewType</display-name>
    <servlet-name>AddNewType</servlet-name>
    <servlet-class>com.yjgs.controller.product.AddNewType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewType</servlet-name>
    <url-pattern>/ProductManage/AddNewType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteType</display-name>
    <servlet-name>DeleteType</servlet-name>
    <servlet-class>com.yjgs.controller.product.DeleteType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteType</servlet-name>
    <url-pattern>/ProductManage/DeleteType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyType</display-name>
    <servlet-name>ModifyType</servlet-name>
    <servlet-class>com.yjgs.controller.product.ModifyType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyType</servlet-name>
    <url-pattern>/ProductManage/ModifyType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishNewsSel</display-name>
    <servlet-name>PublishNewsSel</servlet-name>
    <servlet-class>com.yjgs.controller.news.PublishNewsSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishNewsSel</servlet-name>
    <url-pattern>/NewsManage/PublishNewsSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsSPictureSel</display-name>
    <servlet-name>NewsSPictureSel</servlet-name>
    <servlet-class>com.yjgs.controller.news.NewsSPictureSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsSPictureSel</servlet-name>
    <url-pattern>/NewsManage/NewsSPictureSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerComplaintSel</display-name>
    <servlet-name>ManagerComplaintSel</servlet-name>
    <servlet-class>com.yjgs.controller.findPwd_complaint.ManagerComplaintSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerComplaintSel</servlet-name>
    <url-pattern>/ManagerComplaint/ManagerComplaintSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNewsSel</display-name>
    <servlet-name>UpdateNewsSel</servlet-name>
    <servlet-class>com.yjgs.controller.news.UpdateNewsSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNewsSel</servlet-name>
    <url-pattern>/NewsManage/UpdateNewsSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteNewsSel</display-name>
    <servlet-name>deleteNewsSel</servlet-name>
    <servlet-class>com.yjgs.controller.news.deleteNewsSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNewsSel</servlet-name>
    <url-pattern>/NewsManage/deleteNewsSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerNewsSel</display-name>
    <servlet-name>ManagerNewsSel</servlet-name>
    <servlet-class>com.yjgs.controller.news.ManagerNewsSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerNewsSel</servlet-name>
    <url-pattern>/NewsManage/ManagerNewsSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerComplaintSel2</display-name>
    <servlet-name>ManagerComplaintSel2</servlet-name>
    <servlet-class>com.yjgs.controller.findPwd_complaint.ManagerComplaintSel2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerComplaintSel2</servlet-name>
    <url-pattern>/ManagerComplaint/ManagerComplaintSel2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct1</display-name>
    <servlet-name>AddProduct1</servlet-name>
    <servlet-class>com.yjgs.controller.product.AddProduct1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct1</servlet-name>
    <url-pattern>/ProductManage/AddProduct1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPicUpload</display-name>
    <servlet-name>ProductPicUpload</servlet-name>
    <servlet-class>com.yjgs.controller.product.ProductPicUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPicUpload</servlet-name>
    <url-pattern>/ProductManage/ProductPicUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPicCrop</display-name>
    <servlet-name>ProductPicCrop</servlet-name>
    <servlet-class>com.yjgs.controller.product.ProductPicCrop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPicCrop</servlet-name>
    <url-pattern>/ProductManage/ProductPicCrop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PicUploadForCK</display-name>
    <servlet-name>PicUploadForCK</servlet-name>
    <servlet-class>com.yjgs.controller.PicUploadForCK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicUploadForCK</servlet-name>
    <url-pattern>/Public/PicUploadForCK</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addproduct3</display-name>
    <servlet-name>Addproduct3</servlet-name>
    <servlet-class>com.yjgs.controller.product.Addproduct3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addproduct3</servlet-name>
    <url-pattern>/ProductManage/Addproduct3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeChangeForList</display-name>
    <servlet-name>TypeChangeForList</servlet-name>
    <servlet-class>com.yjgs.controller.product.TypeChangeForList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeChangeForList</servlet-name>
    <url-pattern>/ProductManage/TypeChangeForList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doComplaintSel</display-name>
    <servlet-name>doComplaintSel</servlet-name>
    <servlet-class>com.yjgs.controller.findPwd_complaint.doComplaintSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doComplaintSel</servlet-name>
    <url-pattern>/ManagerComplaint/doComplaintSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRePasswordSel</display-name>
    <servlet-name>UpdateRePasswordSel</servlet-name>
    <servlet-class>com.yjgs.controller.findPwd_complaint.UpdateRePasswordSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRePasswordSel</servlet-name>
    <url-pattern>/FindPwdComplaint/UpdateRePasswordSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCompanyInfoSel</display-name>
    <servlet-name>UpdateCompanyInfoSel</servlet-name>
    <servlet-class>com.yjgs.controller.CompanyInfo.UpdateCompanyInfoSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompanyInfoSel</servlet-name>
    <url-pattern>/CompanyInfoManage/UpdateCompanyInfoSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadCompanyPictureSel</display-name>
    <servlet-name>loadCompanyPictureSel</servlet-name>
    <servlet-class>com.yjgs.controller.CompanyInfo.loadCompanyPictureSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadCompanyPictureSel</servlet-name>
    <url-pattern>/CompanyInfo/loadCompanyPictureSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRelationSel</display-name>
    <servlet-name>AddRelationSel</servlet-name>
    <servlet-class>com.yjgs.controller.CompanyInfo.AddRelationSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRelationSel</servlet-name>
    <url-pattern>/CompanyInfo/AddRelationSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRelationSe</display-name>
    <servlet-name>UpdateRelationSe</servlet-name>
    <servlet-class>com.yjgs.controller.CompanyInfo.UpdateRelationSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRelationSe</servlet-name>
    <url-pattern>/CompanyInfoManage/UpdateRelationSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRelationSel</display-name>
    <servlet-name>UpdateRelationSel</servlet-name>
    <servlet-class>com.yjgs.controller.CompanyInfo.UpdateRelationSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRelationSel</servlet-name>
    <url-pattern>/CompanyInfoManage/UpdateRelationSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRecruitmentSel</display-name>
    <servlet-name>UpdateRecruitmentSel</servlet-name>
    <servlet-class>com.yjgs.controller.CompanyInfo.UpdateRecruitmentSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRecruitmentSel</servlet-name>
    <url-pattern>/CompanyInfoManage/UpdateRecruitmentSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.yjgs.controller.product.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/ProductManage/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProPic</display-name>
    <servlet-name>DeleteProPic</servlet-name>
    <servlet-class>com.yjgs.controller.product.DeleteProPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProPic</servlet-name>
    <url-pattern>/ProductManage/DeleteProPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBaseInfo</display-name>
    <servlet-name>UpdateBaseInfo</servlet-name>
    <servlet-class>com.yjgs.controller.product.UpdateBaseInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBaseInfo</servlet-name>
    <url-pattern>/ProductManage/UpdateBaseInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProPicUpload_fd</display-name>
    <servlet-name>ProPicUpload_fd</servlet-name>
    <servlet-class>com.yjgs.controller.product.ProPicUpload_fd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProPicUpload_fd</servlet-name>
    <url-pattern>/ProductManage/ProPicUpload_fd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProPicCrop_fd</display-name>
    <servlet-name>ProPicCrop_fd</servlet-name>
    <servlet-class>com.yjgs.controller.product.ProPicCrop_fd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProPicCrop_fd</servlet-name>
    <url-pattern>/ProductManage/ProPicCrop_fd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProIntro</display-name>
    <servlet-name>UpdateProIntro</servlet-name>
    <servlet-class>com.yjgs.controller.product.UpdateProIntro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProIntro</servlet-name>
    <url-pattern>/ProductManage/UpdateProIntro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoToPage</display-name>
    <servlet-name>GoToPage</servlet-name>
    <servlet-class>com.yjgs.controller.product.GoToPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToPage</servlet-name>
    <url-pattern>/Product/GoToPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAjaxPic</display-name>
    <servlet-name>GetAjaxPic</servlet-name>
    <servlet-class>com.yjgs.controller.product.GetAjaxPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAjaxPic</servlet-name>
    <url-pattern>/Product/GetAjaxPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoToNewsPage</display-name>
    <servlet-name>GoToNewsPage</servlet-name>
    <servlet-class>com.yjgs.controller.news.GoToNewsPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToNewsPage</servlet-name>
    <url-pattern>/NewsManage/GoToNewsPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoToAdvicePage</display-name>
    <servlet-name>GoToAdvicePage</servlet-name>
    <servlet-class>com.yjgs.controller.advice.GoToAdvicePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToAdvicePage</servlet-name>
    <url-pattern>/Advice/GoToAdvicePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdviceDealSel</display-name>
    <servlet-name>AdviceDealSel</servlet-name>
    <servlet-class>com.yjgs.controller.advice.AdviceDealSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdviceDealSel</servlet-name>
    <url-pattern>/Advice/AdviceDealSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdviceSel</display-name>
    <servlet-name>UpdateAdviceSel</servlet-name>
    <servlet-class>com.yjgs.controller.advice.UpdateAdviceSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdviceSel</servlet-name>
    <url-pattern>/AdviceManage/UpdateAdviceSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAdvice</display-name>
    <servlet-name>deleteAdvice</servlet-name>
    <servlet-class>com.yjgs.controller.advice.deleteAdvice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAdvice</servlet-name>
    <url-pattern>/AdviceManage/deleteAdvice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dealComplaintSel</display-name>
    <servlet-name>dealComplaintSel</servlet-name>
    <servlet-class>com.yjgs.controller.findPwd_complaint.dealComplaintSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dealComplaintSel</servlet-name>
    <url-pattern>/ManagerComplaint/dealComplaintSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoToNewsPage2</display-name>
    <servlet-name>GoToNewsPage2</servlet-name>
    <servlet-class>com.yjgs.controller.news.GoToNewsPage2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToNewsPage2</servlet-name>
    <url-pattern>/News/GoToNewsPage2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Yanzhengma</display-name>
    <servlet-name>Yanzhengma</servlet-name>
    <servlet-class>com.yjgs.controller.advice.Yanzhengma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Yanzhengma</servlet-name>
    <url-pattern>/Advice/Yanzhengma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PicUpload</display-name>
    <servlet-name>PicUpload</servlet-name>
    <servlet-class>com.yjgs.controller.firstpage.PicUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicUpload</servlet-name>
    <url-pattern>/FirstPageManage/PicUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PicCrop</display-name>
    <servlet-name>PicCrop</servlet-name>
    <servlet-class>com.yjgs.controller.firstpage.PicCrop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicCrop</servlet-name>
    <url-pattern>/FirstPageManage/PicCrop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePic</display-name>
    <servlet-name>DeletePic</servlet-name>
    <servlet-class>com.yjgs.controller.firstpage.DeletePic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePic</servlet-name>
    <url-pattern>/FirstPageManage/DeletePic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeSort</display-name>
    <servlet-name>ChangeSort</servlet-name>
    <servlet-class>com.yjgs.controller.firstpage.ChangeSort</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSort</servlet-name>
    <url-pattern>/FirstPageManage/ChangeSort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePageBottomInfo</display-name>
    <servlet-name>UpdatePageBottomInfo</servlet-name>
    <servlet-class>com.yjgs.controller.firstpage.UpdatePageBottomInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePageBottomInfo</servlet-name>
    <url-pattern>/FirstPageManage/UpdatePageBottomInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearch</display-name>
    <servlet-name>ProductSearch</servlet-name>
    <servlet-class>com.yjgs.controller.product.ProductSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearch</servlet-name>
    <url-pattern>/Product/ProductSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chooseTypeSel</display-name>
    <servlet-name>chooseTypeSel</servlet-name>
    <servlet-class>com.yjgs.controller.news.chooseTypeSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseTypeSel</servlet-name>
    <url-pattern>/NewsManage/chooseTypeSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoUpload</display-name>
    <servlet-name>LogoUpload</servlet-name>
    <servlet-class>com.yjgs.controller.firstpage.LogoUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoUpload</servlet-name>
    <url-pattern>/FirstPageManage/LogoUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PicCrop2</display-name>
    <servlet-name>PicCrop2</servlet-name>
    <servlet-class>com.yjgs.controller.firstpage.PicCrop2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicCrop2</servlet-name>
    <url-pattern>/FirstPageManage/PicCrop2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntroPicUpload</display-name>
    <servlet-name>IntroPicUpload</servlet-name>
    <servlet-class>com.yjgs.controller.firstpage.IntroPicUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntroPicUpload</servlet-name>
    <url-pattern>/FirstPageManage/IntroPicUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PicCrop3</display-name>
    <servlet-name>PicCrop3</servlet-name>
    <servlet-class>com.yjgs.controller.firstpage.PicCrop3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicCrop3</servlet-name>
    <url-pattern>/FirstPageManage/PicCrop3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoToAdvicesPage</display-name>
    <servlet-name>GoToAdvicesPage</servlet-name>
    <servlet-class>com.yjgs.controller.advice.GoToAdvicesPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToAdvicesPage</servlet-name>
    <url-pattern>/AdviceManage/GoToAdvicesPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCompanyInfoSel</display-name>
    <servlet-name>InsertCompanyInfoSel</servlet-name>
    <servlet-class>com.yjgs.controller.CompanyInfo.InsertCompanyInfoSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCompanyInfoSel</servlet-name>
    <url-pattern>/CompanyInfoManage/InsertCompanyInfoSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCompanyRelationSel</display-name>
    <servlet-name>InsertCompanyRelationSel</servlet-name>
    <servlet-class>com.yjgs.controller.CompanyInfo.InsertCompanyRelationSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCompanyRelationSel</servlet-name>
    <url-pattern>/CompanyInfoManage/InsertCompanyRelationSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCompanyRecruitmentSel</display-name>
    <servlet-name>InsertCompanyRecruitmentSel</servlet-name>
    <servlet-class>com.yjgs.controller.CompanyInfo.InsertCompanyRecruitmentSel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCompanyRecruitmentSel</servlet-name>
    <url-pattern>/CompanyInfoManage/InsertCompanyRecruitmentSel</url-pattern>
  </servlet-mapping>
  
</web-app>