@CHARSET "UTF-8";

table.tb {
	table-layout: fixed;
	width: 650px;
	margin-top:30px;
}

table.tb td {
	text-align: center;
}

table.tb thead th {
	padding: 2px 0px;
	backgroundï¼š
}

table.tb thead {
	color: #fff;
	text-align: center;
	background: none repeat scroll 0 0 #1169bf;
}

table.tb thead th {
	padding: 2px 0px;
}

tbody td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 5px 2px;
}

.adviser {
	width: 190px;
}

.time {
	width: 110px;
}

.toreply, .delete {
	width: 60px;
}

tbody a {
	color: #1169BF;
}

tbody a:hover {
	text-decoration: underline;
}

div#PageList {
	margin-top: 40px;
	overflow: hidden;
	margin-left: 20px;
	width:600px;
}

div#PageList a {
	margin: 0px 5px;
	border: 1px solid #e1e2e3;
	cursor: pointer;
	display: block;
	float: left;
	height: 34px;
	width: 34px;
	line-height: 34px;
	text-align: center;
	color: #1169BF;
	border: 1px solid #e1e2e3;
}

div#PageList a:hover {
	background: #f2f8ff;
	border: 1px solid #38f;
}

form.changePageForm {
	margin: 10px 0px 0px 330px;
}

select.changePage {
	border: 1px solid #ccc;
	font-size: 16px;
	width: 45px;
}

input.sure {
	background: none repeat scroll 0 0 #ffdf75;
	line-height: 20px;
	margin: 10px 0 0 10px;
	padding: 2px 4px;
	height: 24px;
	cursor:pointer;
}

div#PageList a.upPage {
	width: 100px;
	background: url(../Image/iconfont-xiayi.png) no-repeat 15px 9px;
	padding-left: 8px;
	_background: none;
	_padding-left: 0px;
}

div#PageList a.upPage:hover {
	background: url(../Image/iconfont-xiayi.png) no-repeat 15px 9px #f2f8ff;
	_background: #f2f8ff;
	border: 1px solid #38f;
}

div#PageList a.downPage {
	width: 100px;
	padding-right: 8px;
	background: url(../Image/iconfont-xiayi.png) no-repeat 80px -41px;
	_background: none;
	_padding-right: 0px;
}

div#PageList a.downPage:hover {
	background: url(../Image/iconfont-xiayi.png) no-repeat 80px -41px
		#f2f8ff;
	_background: #f2f8ff;
	border: 1px solid #38f;
}
span.up-account,span.up-time,up-content,span.up-content,span.up-apply{
    padding-right: 10px;
    text-align: right;
    width: 100px;
    height:30px;
    float:left;
}
form.updateForm{
	margin-top:30px;
}
form.updateForm p{
	padding:0px 20px;
}
form.updateForm div{
	margin-bottom:20px;
}
form.updateForm textarea{
	width:400px;
	height:200px;
	border: 1px solid #cccccc;
    font-size: 18px;
    padding: 5px 10px;
    resize: none;
}
input.save{
	background: none repeat scroll 0 0 #ffdf75;
	line-height: 20px;
	margin: 10px 0 0 490px;
	padding: 2px 4px;
	height: 24px;
}