@CHARSET "UTF-8";

div#main h2 {
	font-size: 18px;
	font-weight: 100;
	margin: 20px 0 0 10px;
}

h2 span {
	font-size: 14px;
}

div.uploadDiv {
	background: url("../Image/BGupload.png") no-repeat left top;
	height: 40px;
	margin: 20px 0 0 40px;
	overflow: hidden;
	position: relative;
	width: 145px;
}

input.file {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity : 0);
	z-index: 999;
	height: 40px;
	width: 145px;
}

input#upload,input#upload2,input#upload3 {
	display: none;
}

a.down, a.up {
	margin: 3px 20px;
	display: block;
	width: 32px;
	height: 32px;
}

a.down span, a.up span {
	display: none;
}

a.down {
	background: url(../Image/upAndDown.png) no-repeat -3px -40px;
}

a.up {
	background: url(../Image/upAndDown.png) no-repeat -3px -5px;
}

a.down:hover {
	background: url(../Image/upAndDown.png) no-repeat -3px -114px;
}

a.up:hover {
	background: url(../Image/upAndDown.png) no-repeat -3px -78px;
}

a.delete {
	margin: 0px 20px;
	color: #1169BF;
	background: url("../Image/adminIconList.png") no-repeat -6px -574px;
	padding-left: 25px;
}

a.delete:hover {
	text-decoration: underline;
}

table {
	margin-left: 90px;
	margin-top: 20px;
}

table tr {
	margin-top: 10px;
}
div.marginDiv{
	margin:20px 0px 0px 40px;
}
span.sm-advise{
	color:#888;
	font-size:12px;
	padding-left:10px;
}