@CHARSET "UTF-8";
/***********************/
/*****添加产品类别部分********/
/***********************/
div#main form#ProductTypeAdd {
	width: 420px;
	margin: 50px auto 0 auto;
}

form#ProductTypeAdd div span {
	float: left;
	height: 45px;
	line-height: 45px;
	padding-right: 10px;
	text-align: right;
	width: 130px;
}

form#ProductTypeAdd div input {
	border: 1px solid #cccccc;
	font-size: 18px;
	margin: 6px 0;
	padding: 5px 15px;
	width: 194px;
}

input.typeAddBtn {
	box-shadow: 0 0 2px #fff inset;
	text-shadow: 1px 1px 1px #fbe5ac;
	border-radius: 3px;
	font-weight: 400;
	background: #febf4d;
	background: linear-gradient(#ffd974, #febf4d);
	color: #614323;
	_border: none;
	border: 1px solid #e6b650;
	font-size: 20px;
	padding: 5px 10px;
	_padding:0px;
	width: 66px;
	float: right;
	margin: 30px 54px 0 0;
	cursor:pointer;
}

.typeAddBtn:hover, .typeAddBtn:focus {
	background-color: #ffd974;
	background-image: linear-gradient(#febf4d, #ffd974);
	border: 1px solid #c1913d;
	_border: none;
}
/***********************/
/*****管理产品类别部分********/
/***********************/
caption {
	padding: 5px;
	font-size: 20px;
}

thead {
	background: #1169bf;
	color: #fff;
	text-align: center;
}

thead th {
	padding: 2px 0;
}

div#main td {
	text-align: center;
}

th.number {
	width: 100px;
}

th.typeName {
	width: 130px;
}

th.productNum {
	width: 100px;
}

th.modify {
	width: 150px;
}

th.delete {
	width: 100px;
}

tbody td {
	padding: 3px 5px;
}

tbody td a {
	color: #1169BF;
}

tbody td a:hover {
	text-decoration: underline;
}
/*点击修改时*/
input#typeNameText {
	width: 110px;
	padding: 5px 4px;
	border: 1px solid #56abe4;
	font-size: 14px;
}

input#cancelBtn {
	padding: 3px 8px;
	background: #f36e6e;
	color: #fff;
	float: right;
	background: linear-gradient(#f36e6e, #ce5050) repeat;
	border-radius: 3px;
	box-shadow: 0 0 2px #fff inset;
	margin-right: 10px;
	font-size: 14px;
}

input#cancelBtn:hover {
	background: linear-gradient(#ce5050, #f36e6e) repeat;
}

input#sureBtn {
	padding: 3px 8px;
	background: #58C258;
	color: #fff;
	float: left;
	background: linear-gradient(#58C258, #2e9f2e) repeat;
	border-radius: 3px;
	box-shadow: 0 0 2px #fff inset;
	margin-left: 10px;
	font-size: 14px;
}

input:hover#sureBtn {
	background: linear-gradient(#2e9f2e, #58C258) repeat;
}

form#TypeManage table {
	width: 592px;
	margin: 0px auto;
}

tbody td.deleteTd a {
	padding-left: 25px;
	background: url(../Image/adminIconList.png) no-repeat -6px -574px;
}

tbody td.modifyTd a {
	padding-left: 25px;
	background: url(../Image/adminIconList.png) no-repeat -6px -540px;
}
